.format-wrapper {
    border: 1px solid #ccc;
    background: whitesmoke;
    padding: 5px 0;
    font-size: small;
  }
  .format-wrapper div:first-child span:first-child {
      color: tomato;
  }
  .format-wrapper div:first-child span:nth-child(2) {
      color: green;
  }
  .format-wrapper div:first-child span:nth-child(3) {
      color: blue;
  }
  .format-wrapper div:first-child span:nth-child(4) {
      color: firebrick;
  }
  .format-wrapper div:first-child span:last-child {
      color: green;
  }